@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Sacramento&display=swap');

body {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}
h1 {
  font-family: 'Sacramento', sans-serif;
  font-size: 5rem;
  font-weight: lighter;
  color: #edf5e1;
}
h2 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 200%;
  color: #05386b;
  font-weight: 100;
}

.profile, .projects, .skills {
  padding: 5%;
}

.projects h3 {
  padding: 2%;
}

.contact-me {
  padding: 3%;
}

.section-heading {
  font-family: 'Comfortaa', sans-serif;
  text-align: left;
  color: #05386b;
  font-weight: lighter;
}
.footer-link {
  color: #8ee4af;
  font-family: 'Comfortaa', sans-serif;
  padding: 7px;
  text-decoration: none;
}
.footer-link:hover {
  color: white;
}
.description {
  font-size: 2rem;
  font-family: 'Indie Flower', sans-serif;
  color: white;
}
.subheading {
  color: #edf5e1;
  font-weight: normal;
  font-family: 'Courier New', sans-serif;
  font-size: 1.5rem;
}
.description, .intro {
  font-family: 'Comfortaa', sans-serif;
  font-size: 100%;
  color: black;
  line-height: 2;
}
.header {
  font-size: 200%;
  font-weight: lighter;
}
.top-container {
  background-color: #5cdb95;
  position: relative;
  padding-top: 5%;
  margin-bottom: 3%;
} 
.middle-container {
  margin: 0 auto;
  width: 80%;
}
.bottom-container {
  background-color: #379683;
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.python-img, .web-dev-img {
  width: 9rem;
  border-radius: 10%;
  float: left;
  margin-right: 3%;
}
.skill-row {
  width: 50%;
  margin: 5% auto 5% auto;
  text-align: left;
}

i:hover {
  color: #5cdb95;
}

.proj-heading {
  font-family: 'Comfortaa', sans-serif;
  margin: 0 auto;
  color: #05386b;
  font-weight: lighter;
  text-decoration: none;
  font-size: 1.17em;
}

.pro {
  text-decoration: underline;
}
.intro {
  width: 30%;
  margin: auto;
}
.bottom-cloud {
  position: absolute;
  top: 50%;
  left: 15%;
}
.top-cloud {
  position: absolute;
  right: 15%;
  top: 10%;
}
.copyright {
  font-family: sans-serif;
  font-size: 80%;
  color: #edf5e1;
  padding-top: 1%;
}
hr {
  border-style: dotted none none;
  border-width: 10px;
  width: 7%;
  color: #6e727452;
}
.contact-btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: monospace;
  font-size: 24px;
  font-weight: 100;
  padding: 10px;
  background-color: #379683;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 4%;
}

.contact-btn:hover {
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  text-decoration: none;
  border-radius: 10px;
}

.contact-title {
  text-align: center;
  line-height: 2rem;
}
.profile-picture {
  width: 10rem;
}

/* PHONE SETUP */

@media only screen and (max-width: 1422px) {
  .intro {
    width: 60%;
  }

  .skill-row {
    width: 80%;
    text-align: center;
  }

  .python-img, .web-dev-img {
    float: none;
  }

  .section-heading {
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  .top-container {
    width: 100%;
    margin: 0 auto;
  }
  .profile-picture {
    width: 50%;
  }
  .mountain {
    width: 100%;
    padding-top: 25%;
    padding: 0;
  }
  .top-cloud, .bottom-cloud {
    width: 20%;
  }
  .top-cloud {
    left: 73%;
  }
  .bottom-cloud {
    top: 42%;
    left: 8%;
  }
  h1 {
    font-size: 3rem ;
    padding: 0;
    margin: 0;
    margin-top: 10%;
  }
  .subheading {
    font-size: 1.1rem;
  }
  .intro {
    width: 80%;
  }

  .description {
    width: 95%;
  }
  .section-heading {
    text-align: center;
    font-size: 117%;
  }
  h2 {
    font-size: 180%;
  }
  .contact-title {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3%;
  }
}

@media only screen and (max-width: 300px) {
  .contact-btn {
    font-size: 70%;
  }
  .description {
    padding: 3%;
  }
}